<!DOCTYPE html>
<html lang="ja-JP">
  <head>
    <meta charset="utf-8" />
    <title>活動連絡テキスト作成ツール</title>
    <meta
      name="description"
      content="参加メンバーと会計係へ活動の連絡をするためのテキストを作成します"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"
    />
    <style type="text/css">
      .field:not(:last-child) {
        margin-bottom: 1.25rem;
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-if="isOutputShowing" class="box">
        <div
          class="notification is-success"
          style="
            animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
          "
        >
          テキストをコピーしました。<br />
          ブラウザを閉じ、LINEに投稿してください。<br />
          参加メンバーへのメンションも忘れずにお願いします。
        </div>
        <pre ref="textForCopyRef">{{ textForCopy }}</pre>
        <button @click="backToEdit" class="mt-4 button is-fullwidth">
          やり直す
        </button>
      </div>

      <div v-else>
        <div class="m-4 notification">
          参加メンバーと会計係へ活動の連絡をするためのテキストを作成します。<br />
          下記項目を入力し、決定ボタンを押してください。
        </div>

        <form class="box" @submit.prevent="outputAndCopy">
          <div class="field">
            <div class="mb-0 tabs is-toggle is-fullwidth">
              <ul>
                <li :class="{ 'is-active': !isTamadashiMode }">
                  <a @click="isTamadashiMode = false">
                    <i
                      class="pr-1 mdi mdi-18px"
                      :class="!isTamadashiMode ? 'mdi-checkbox-marked' : 'mdi-checkbox-blank-outline'"
                    ></i>
                    通常の活動
                  </a>
                </li>
                <li :class="{ 'is-active': isTamadashiMode }">
                  <a @click="isTamadashiMode = true">
                    <i
                      class="pr-1 mdi mdi-18px"
                      :class="isTamadashiMode ? 'mdi-checkbox-marked' : 'mdi-checkbox-blank-outline'"
                    ></i>
                    球出し練習
                  </a>
                </li>
              </ul>
            </div>
            <p class="help">
              どちらかを選択してください。<br />
              球出し練習を選択した場合、参加費の計算方法が変わります。
            </p>
          </div>

          <div class="field">
            <label class="label">
              日時
              <span class="tag has-text-weight-normal">必須</span>
            </label>
            <div
              class="control"
              :class="{ 'has-icons-right': shouldShowCalendarIcon }"
            >
              <input
                required
                class="input is-medium"
                type="datetime-local"
                v-model="datetime"
              />
              <span v-if="shouldShowCalendarIcon" class="icon is-right">
                <i class="mdi mdi-24px mdi-dark mdi-calendar-clock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">
              場所
              <span class="tag has-text-weight-normal">必須</span>
            </label>
            <div class="control">
              <input
                required
                class="input is-medium"
                v-model="place"
                placeholder="◯◯公園"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">
              コート利用料
              <span class="tag has-text-weight-normal">必須</span>
            </label>
            <div class="control has-icons-left">
              <input
                required
                type="number"
                class="input is-medium"
                v-model="placeFee"
              />
              <span class="icon is-left">
                <i class="mdi mdi-dark mdi-currency-jpy"></i>
              </span>
            </div>
            <p class="help">
              照明代等を含めた、コート管理者に支払われる金額を入力してください。
            </p>
          </div>

          <div class="field">
            <label class="label">
              参加人数<span v-if="isTamadashiMode">（球出し担当者を除く）</span>
              <span class="tag has-text-weight-normal">必須</span>
            </label>
            <div class="control">
              <input
                required
                type="number"
                class="input is-medium"
                v-model="people"
              />
            </div>
            <p class="help">
              <span v-if="isTamadashiMode">
                ゲストを含めた、 "球出し担当者を除く"
                参加者の人数を入力してください。
              </span>
              <span v-else>
                ゲストを含めた、コートを使う全員の人数を入力してください。
              </span>
            </p>
          </div>

          <div class="field">
            <label class="label">
              コート受付・参加費預かり担当者
              <span class="tag has-text-weight-normal">必須</span>
            </label>
            <div class="control">
              <input
                required
                class="input is-medium"
                v-model="okanePerson"
                placeholder="マムシ"
              />
            </div>
            <p class="help">
              担当者は受付でコート代を支払い、参加者から参加費を預かります。<br />
              会計係はこの人から備品積立金を回収します。
            </p>
          </div>

          <div class="field">
            <label class="label">コート予約者名</label>
            <div class="control">
              <input
                class="input is-medium"
                v-model="yoyakuPerson"
                placeholder="かいどうかおる"
              />
            </div>
            <p class="help">
              受付をする人のために、ひらがなフルネームで入力してください。<br />
              あなたがコートの受付をする場合は省略して構いません。
            </p>
          </div>

          <div class="pt-4"></div>

          <button type="submit" class="button is-link is-large is-fullwidth">
            決定
          </button>
        </form>
      </div>

      <div class="pt-6"></div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data() {
          const parts = new Intl.DateTimeFormat("ja-JP", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit"
          }).formatToParts(new Date());

          const year = parts.find((p) => p.type === "year").value;
          const month = parts.find((p) => p.type === "month").value;
          const day = parts.find((p) => p.type === "day").value;

          return {
            isTamadashiMode: false,
            isOutputShowing: false,
            datetime: `${year}-${month}-${day}T19:00:00`,
            place: "光が丘公園",
            placeFee: 3600,
            people: 6,
            okanePerson: "",
            yoyakuPerson: ""
          };
        },
        computed: {
          shouldShowCalendarIcon() {
            const ua = window.navigator.userAgent.toLowerCase();
            return (
              !ua.includes("chrome") &&
              !ua.includes("edge") &&
              ua.includes("safari")
            );
          },
          feePerPerson() {
            return this.isTamadashiMode
              ? 1000
              : Math.ceil(this.placeFee / this.people / 100) * 100 + 100;
          },
          textForCopy() {
            const formattedDatetime = new Intl.DateTimeFormat("ja-JP", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
              hour: "2-digit",
              minute: "2-digit"
            }).format(new Date(this.datetime));

            const l = (number) => number.toLocaleString();

            return (
              "■活動の連絡\n" +
              "[作成ツール https://sossii.github.io/tns]\n" +
              "\n" +
              `日時: ${formattedDatetime}${
                this.isTamadashiMode ? "（球出し練習）" : ""
              }\n` +
              `場所: ${this.place}\n` +
              `コート利用料: ¥${l(this.placeFee)}\n` +
              `参加人数: ${l(this.people)}人${
                this.isTamadashiMode ? "（球出し担当者を除く）" : ""
              }\n` +
              `参加費（一人分）: ¥${l(this.feePerPerson)}\n` +
              `参加費（全員分）: ¥${l(this.feePerPerson * this.people)}\n` +
              `コート受付・参加費預かり担当者: ${this.okanePerson}\n` +
              (this.yoyakuPerson === ""
                ? ""
                : `コート予約者名: ${this.yoyakuPerson}\n`) +
              "参加メンバーへメンション: "
            );
          }
        },
        methods: {
          copy() {
            const range = document.createRange();
            range.selectNode(this.$refs.textForCopyRef);
            window.getSelection().addRange(range);
            document.execCommand("copy");
          },
          async outputAndCopy() {
            this.isOutputShowing = true;
            await Vue.nextTick();
            this.copy();
            window.scrollTo(0, 0);
          },
          async backToEdit() {
            this.isOutputShowing = false;
            await Vue.nextTick();
            window.scrollTo(0, 0);
          }
        }
      });
    </script>
  </body>
</html>
