<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body,
      input,
      button {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-if="!isOutputShowing">
        <button>普通の活動</button>
        <button>球出し練習</button>
      </div>

      <div v-if="isOutputShowing">
        <button @click="backToEdit">
          戻る
        </button>
        <button @click="copy">もう一度コピーする</button>
        <pre ref="textForCopyRef">{{ textForCopy }}</pre>
      </div>

      <div v-else>
        <form @submit.prevent="outputAndCopy">
          <div>日時*</div>
          <input required type="datetime-local" v-model="datetime" />
          <button>今日</button>
          <button>明日</button>
          <div>場所*</div>
          <input required v-model="place" />
          <div>コート利用料*</div>
          <input required type="number" v-model="placeFee" />
          <div>参加者数*</div>
          <div>ゲストを含めた数を書いてください</div>
          <input required type="number" v-model="people" />

          <div>コートの受付と参加費の預かりをする人*</div>
          <div>もし違う人が参加費を預かった場合は報告してください</div>
          <input required v-model="okanePerson" />
          <div>予約者名(ひらがなフルネーム)</div>
          <div>もしあなたがコートの受付をする場合は書かなくてよいです</div>
          <input v-model="yoyakuPerson" />
          <button type="submit">テキストを出力してコピーする</button>
        </form>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            isTamadashiMode: false,
            isOutputShowing: false,
            datetime: "2021-04-25T19:00",
            place: "光が丘公園",
            placeFee: 3600,
            people: 6,
            okanePerson: "",
            yoyakuPerson: ""
          };
        },
        computed: {
          textForCopy() {
            return (
              `【活動のお知らせ】\n` +
              `日時: ${this.datetime}から\n` +
              `場所: ${this.place}\n` +
              `コート利用料: ${this.placeFee}\n` +
              `参加者数: ${this.people}\n` +
              `参加費(一人分): ${this.placeFee / this.people}\n` +
              `参加費(全員分): ${this.placeFee / this.people}\n` +
              `コートの受付と参加費の預かりをする人: ${this.okanePerson}\n` +
              `予約者名（ひらがなフルネーム）: ${this.yoyakuPerson}\n` +
              `参加メンバーにメンション: `
            );
          }
        },
        methods: {
          copy() {
            const range = document.createRange();
            range.selectNode(this.$refs.textForCopyRef);
            window.getSelection().addRange(range);
            document.execCommand("copy");
          },
          async outputAndCopy() {
            this.isOutputShowing = true;
            await Vue.nextTick();
            this.copy();
            window.scrollTo(0, 0);
          },
          async backToEdit() {
            this.isOutputShowing = false;
            await Vue.nextTick();
            window.scrollTo(0, 0);
          }
        }
      });
    </script>
  </body>
</html>
